<%- include('partials/_header') %>
  <body>
    <nav>
      <h1>Hello Kobe</h1>

      <p class="average-day">---- steps</p>
      <h2>Average Day</h2>

      <p class="best-day">---- steps</p>
      <h2>Best Day</h2>

      <p class="worst-day">---- steps</p>
      <h2>Worst Day</h2>

      <p class="total-month">---- steps</p>
      <h2>Total last 28 days</h2>

      <p class="total-day">---- steps</p>
      <h2>Total so far today</h2>

    </nav>

    <div class="main-container">
      <main>
        <h1>Today</h1>
        <svg class="today" width="900" height="200"></svg>

        <h1>Last 28 days</h1>
        <svg class="month" width="900" height="600"></svg>
      </main>
    </div>

    <script type="text/javascript" src="/scripts/d3.js"></script>
    <script type="text/javascript" src="/scripts/data.js"></script>
    <script type="text/javascript" src="/scripts/stats.js"></script>
    <script type="text/javascript" src="/scripts/today.js"></script>
    <script type="text/javascript" src="/scripts/month.js"></script>
  </body>
</html>
